/*global*/
html,body{
    font-size: 16px;
}

/*변수*/

    /*폰트,컬러 변수*/
:root {
    /*폰트 변수*/
    --inter-font : 'Inter', 'Pretendard', sans-serif;
    --manrope-font : 'Manrope', 'Spoqa Han Sans Neo', sans-serif;

    /*폰트 사이즈 변수*/
    --title-size : calc((var(--spacing-fix-3rem)) + (var(--spacing-fix-half1rem)));
    --text-effect-size : calc((var(--spacing-fix-2rem)) + (var(--spacing-fix-half1rem)));
    --text-size : var(--spacing-fix-1rem);

    /*컬러 변수*/
    --point-clr : #C4A88A;
    --extra-point-clr : #005D66;
    --extra-extra-point-clr : #fbcccd;
    --body-clr: #5C5C5C;
    --body-bg-clr: #F8F6F4;
    --logo-clr: #222222;
}

    /* 간격 변수 */
:root {
    --spacing-xs: 0.5rem;  /* 작은 간격 */
    --spacing-sm: 1rem;    /* 기본 간격 */
    --spacing-md: 2rem;    /* 중간 간격 */
    --spacing-lg: 3.5rem;  /* 넉넉한 간격 (데스크탑 기준) */
    --spacing-xl: 5rem;    /* 아주 큰 간격 */
    --spacing-fix-half1rem: .5rem; /*변하지 않는 .5rem*/
    --spacing-fix-1rem: 1rem; /*변하지 않는 1rem*/
    --spacing-fix-2rem: 2rem; /*변하지 않는 2rem*/
    --spacing-fix-3rem: 3rem; /*변하지 않는 3rem*/
    --spacing-fix-4rem: 4rem; /*변하지 않는 4rem*/
    --spacing-fix-5rem: 5rem; /*변하지 않는 5rem*/
}

    /*cubic bezier*/
:root {
    --cubic-x1: 0.215;
    --cubic-y1: 0.61;
    --cubic-x2: 0.355;
    --cubic-y2: 1;
    /*cubic-bezier(var(--cubic-x1), var(--cubic-y1), var(--cubic-x2), var(--cubic-y2));*/
}
/*전역 스타일*/
.uppercase{
    text-transform: uppercase;
}
.header_fixed{
    position: fixed;
    z-index: 200;
    top: calc(var(--spacing-fix-1rem) + .75rem);
}
.text_balance{
    text-wrap: balance;
    word-break: keep-all;
}
.section_top_mg_gutter{
    margin-top: var(--spacing-fix-2rem);
}
.element_gutter{
    left: 50%;
    transform: translateX(-50%);
    margin-right: auto;
    margin-left: auto;
    z-index: 20;
    position: absolute;
    top: 0;
}
/*.black-wall{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    left:0;
    top:0;
    z-index: 40;
}*/

/*스와이퍼*/
/* 기본 스타일 */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-bg-clr);
    border-radius: 20px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} 


/*애니메이션*/
@keyframes text-scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

