/*main*/
main{
    padding-top: calc(var(--spacing-fix-4rem) * 3);
}

.what{
    height: 500000px;
    background: lightblue;
}


/*marquee 관련*/
#marquee{
    height: calc(var(--spacing-fix-2rem) - .5rem);
    background: var(--extra-point-clr);
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--extra-extra-point-clr);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    transform: translate(0, -100%);
}
body.is-ready #marquee{
    transform: translate(0);
    transition: transform .6s cubic-bezier(var(--cubic-x1), var(--cubic-y1), var(--cubic-x2), var(--cubic-y2));
}
.marquee_inner_wrapper{
    display: flex;
    gap: var(--spacing-fix-1rem);
}
.marquee_inner{
    display: flex;
    white-space: nowrap;
    will-change: transform;
    gap: var(--spacing-fix-1rem);
    animation: text-scrolling 35s linear infinite;
}
#marquee p{
    line-height: 1.2;
    font-size: .84375rem;
}

/*logo 관련*/
.logo_wrapper{
    left: calc(50% - 135px/2);
}
.logo-transform{
    width: 135px;
    display: inline-block;
    /*transform: translateY(calc(var(--spacing-fix-1rem) + var(--spacing-fix-half1rem)));*/
    /*transform-origin: 50% 0;*/
}
.logo{
    width: 100%;
}
.logo_g.on path{
    fill: #F8F6F4;
}

/*MAIN-Sec01 intro-video-section*/
#intro_video_wrapper{
    position: relative;
    display: block;
}
.black_bg{
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--logo-clr);
    opacity: .3;
    top: 0;
    left: 0;
}
#intro_video_wrapper .intro_text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 var(--spacing-md);
    width: 50%;
    text-align: center;
    color: var(--body-bg-clr);
    font-size: var(--text-effect-size);
    z-index: 100;
}


/*MAIN-Sec02 brand_introduce_section*/
#brand_introduce_section_inner{
    width: 100%;
    overflow: hidden;
    height: 100vh;
    position: relative;
    /*background: var(--extra-extra-point-clr);*/
}
#brand_introduce_section_inner .number{
    position: absolute;
    /*top: 60%;*/
    /*left: 48%;*/
    top: 70vh;
    left: 0;
    padding-left: 60%;
    z-index: 100;
    width: calc(var(--spacing-xl) + var(--spacing-fix-1rem));
}
#brand_introduce_section_inner .person{
    position: absolute;
    top: 5vh;
    left: 0;
    padding-left: 20%;
    z-index: 80;
    width: 30%;
}
#brand_introduce_section_inner .number:nth-of-type(4){
    top: 55vh
}
#brand_introduce_section_inner .person:nth-of-type(8){
    top: 30vh;
}
#brand_introduce_section_inner .text{
    position: absolute;
    top: 30vh;
    right: 0;
    padding-right: 28%;
    z-index: 60;
    font-size: var(--text-size);
}
#brand_introduce_section_inner .text:nth-of-type(3){
    padding-right: 20%;
}
#brand_introduce_section_inner .text h3{
    margin-bottom: var(--spacing-fix-1rem);
    font-size: var(--text-effect-size);
}

/*MAIN-Sec03 featured_products_section*/
#featured_products_section{
    position: relative;
    background: var(--body-bg-clr);
    display: block;
}
#featured_products_section .article1{
    height: 100vh;
}
#featured_products_section .article1 video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
#featured_products_section .article1 .element_gutter{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    align-items: flex-start;
}
#featured_products_section .article1 .featured_h3{
    font-size: var(--title-size);
}
#featured_products_section .article1 .element_gutter p{
    font-size: var(--text-effect-size);
}
#featured_products_section .article2{
    background: black;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#featured_products_section ul{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-fix-3rem);
    margin-left: auto;
    margin-right: auto;
    font-size: var(--title-size);
    width: 1200px;
}