#marquee{
    height: calc(var(--spacing-fix-2rem) - .5rem);
    background: var(--extra-point-clr);
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--extra-extra-point-clr);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    transform: translate(0, -100%);
}
body.is-ready #marquee{
    transform: translate(0);
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.marquee_inner_wrapper{
    display: flex;
    gap: var(--spacing-fix-1rem);
}
.marquee_inner{
    display: flex;
    white-space: nowrap;
    will-change: transform;
    gap: var(--spacing-fix-1rem);
    animation: text-scrolling 35s linear infinite;
}
#marquee p{
    line-height: 1.2;
    font-size: .675rem;
}