/*main*/

main{
    padding-top: calc(var(--spacing-fix-4rem) * 3);
    position: relative;
    background: var(--body-bg-clr);
    z-index: 3;
}

/*프로그레스 바*/
#progress-bar progress{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    overflow: hidden;
    height: calc(var(--spacing-fix-1rem) - .65rem);
    width: 100%;
    background: transparent;
    border: none;
    appearance: none;
}
#progress-bar progress::-webkit-progress-bar {
    background: transparent; /* 배경 투명 */
}

#progress-bar progress::-webkit-progress-value {
    /*background: linear-gradient(to right, 
    var(--extra-extra-point-clr),
    var(--extra-point-clr)
    ) !important;*/
    background: var(--point-clr) !important;
}

#progress-bar progress::-moz-progress-bar {
    /*background: linear-gradient(to right, 
    #003F4F,
    #5C5C5C,
    #C4A88A 
    ) !important;*/
     background: var(--point-clr) !important;
}

/*marquee 관련*/
#marquee{
    height: calc(var(--spacing-fix-2rem) - .5rem);
    background: var(--extra-point-clr);
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--extra-extra-point-clr);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    transform: translate(0, -100%);
    z-index: 400;
}
body.is-ready #marquee{
    transform: translate(0);
    transition: transform .6s cubic-bezier(var(--cubic-x1), var(--cubic-y1), var(--cubic-x2), var(--cubic-y2));
}
.marquee_inner_wrapper{
    display: flex;
    gap: var(--spacing-fix-1rem);
}
.marquee_inner{
    display: flex;
    white-space: nowrap;
    will-change: transform;
    gap: var(--spacing-fix-1rem);
    animation: text-scrolling 35s linear infinite;
}
#marquee p{
    line-height: 1.2;
    font-size: .84375rem;
}

/*logo 관련*/
.logo_wrapper{
    left: calc(50% - 135px/2);
}
.logo-transform{
    width: 135px;
    display: inline-block;
    /*transform: translateY(calc(var(--spacing-fix-1rem) + var(--spacing-fix-half1rem)));*/
    /*transform-origin: 50% 0;*/
}
.logo{
    width: 100%;
}
.logo_g.on path{
    fill: #F8F6F4;
}
html.has-menu-bg .logo_g path{
    fill: var(--extra-extra-point-clr) !important;
}

/*MAIN-Sec01 intro-video-section*/
#intro_video_wrapper{
    position: relative;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    height: 100vh;
    width: 100%;
}
#intro_video_wrapper video{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.black_bg{
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--logo-clr);
    opacity: .3;
    top: 0;
    left: 0;
}
#intro_video_wrapper .intro_text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 var(--spacing-md);
    width: 50%;
    text-align: center;
    color: var(--body-bg-clr);
    font-size: var(--text-effect-size);
    z-index: 100;
}


/*MAIN-Sec02 brand_introduce_section*/
#brand_introduce_section_inner{
    width: 100%;
    overflow: hidden;
    height: 100vh;
    position: relative;
}
#brand_introduce_section_inner .number{
    position: absolute;
    top: 70vh;
    left: 60vw;
    z-index: 100;
    width: calc(var(--spacing-xl) + var(--spacing-fix-1rem));
}
#brand_introduce_section_inner .person{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 40;
    width: 100%;
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain;
}
#brand_introduce_section_inner .text{
    position: absolute;
    top: 30vh;
    left: 0;
    padding-left: 21%;
    z-index: 60;
    font-size: var(--text-size);
    color: var(--body-bg-clr);
}
#brand_introduce_section_inner .text h3{
    margin-bottom: var(--spacing-fix-1rem);
    font-size: var(--text-effect-size);
}

/*MAIN-Sec03 featured_products_section*/
#featured_products_section{
    position: relative;
    background: var(--body-bg-clr);
    display: block;
    padding-bottom: 750px;
    background: black;
    z-index: 102;
}
#featured_products_section .article1{
    height: 100vh;
    will-change: height, opacity;
}
#featured_products_section .article1 video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
#featured_products_section .article1 .element_gutter{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    align-items: flex-start;
    will-change: transform, opacity;
}
#featured_products_section .article1 .featured_h3{
    font-size: var(--title-size);
}
#featured_products_section .article1 .element_gutter p{
    font-size: var(--text-effect-size);
}
#featured_products_section .article2{
    background: /*var(--body-bg-clr);*/ black;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    will-change: opacity;
}
#featured_products_section ul{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-fix-3rem);
    margin-left: auto;
    margin-right: auto;
    font-size: var(--title-size);
    margin-top: var(--spacing-fix-5rem);
}

/*forgivemylack*/
#forgiveMyLack{
    width: 100%;
    position: relative;
    z-index: 101;
    background: black;
    height: 100vh;
}
.garigae{
    position: absolute;
    touch-action: none;
    visibility: hidden;
    background: transparent;
    width: 100%;
    height: 100vh;
    bottom: 0;
    left: 0;
}

/*MAIN SEC-03-b, swiper-products-section*/
#swiper_products_section{
    position: relative;
    z-index: 100;
    /*transform: translateY(-400px);*/
    width: 100%;
    box-sizing: border-box;
    padding: calc(var(--spacing-fix-1rem) + var(--spacing-fix-half1rem)) 0;
    background: black;
}
.sticky-wrapper{
    height: calc(200vh + 1500px);
    margin-top: -100vh;
    position: relative;
}
.sticky-one{
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
    /*min-height: 506px;*/
}
.big_products_swiper_wrapper{
    display: block;
    transition: transform;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    position: absolute;
    /*height: 506px;*/
}
.fill{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: pink;
    will-change: transform;
}
.fill .art{
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: transform;
}
.lackness{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: pink;
    will-change: transform;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.swiper-slide:not(.swiper-slide-active) .lackness{
    display: none;
}
.swiper_div_btn{
    display: inline-block;
    color: var(--body-bg-clr);
    border-radius: 500px;
    font-weight: 400;
    transition: opacity .3s cubic-bezier(var(--cubic-x1), var(--cubic-y1), var(--cubic-x2), var(--cubic-y2));
    max-width: 100px;
    margin-left: auto;
    padding: 1rem .5rem;
}
.sec3_products_marquee_wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    will-change: opacity;
}
.sec3_products_marquee{
    display: flex;
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    gap: var(--spacing-fix-1rem);
    will-change: transform; /*[Violation] Forced reflow while executing JavaScript took 56ms 오류에 대항하기 위해서, 브라우저에게 이 요소에 대해 변화가 있을 것이라고 미리 알려주는 속성*/
}
.sec3_products_marquee ul{
    display: flex;
    white-space: nowrap;
    will-change: transform;
    gap: var(--spacing-fix-1rem);

}
.sec3_products_marquee ul li{
    width: 378px;
    height: 212px;
}
.sec3_products_marquee ul li a{
    position: relative;
}
.sec3_products_marquee ul li a span{
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    z-index: 2;
    transform: translate(-50%, -50%);
    padding: var(--btn-padding);
    background: var(--extra-point-clr);
    color: var(--body-bg-clr);
    border-radius: 500px;
    font-weight: 400;
    opacity: 0;
    transition: opacity .3s cubic-bezier(var(--cubic-x1), var(--cubic-y1), var(--cubic-x2), var(--cubic-y2));
}
.sec3_products_marquee ul li a div{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.0);
    pointer-events: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    transition: color .3s cubic-bezier(var(--cubic-x1), var(--cubic-y1), var(--cubic-x2), var(--cubic-y2)) opacity .3s cubic-bezier(var(--cubic-x1), var(--cubic-y1), var(--cubic-x2), var(--cubic-y2));
}
.sec3_products_marquee ul li img{
    object-fit: cover;
    width: 100%;
    height: auto;
}
.img_float{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img_float img{
    width: 100%;
    height: 100%;
}



/*Section4 anytime section*/
#anytime_section .lookup > img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.sec4h2{
    font-size: var(--title-size);
    line-height: 1.3;
}
.sec4p{
    font-weight: 400;
    line-height: 1.3;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.sec4article{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 67px auto;
    max-width: 500px;
}
.icon-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    will-change: opacity;
}
.icon-wrapper img{
    width: 130px;
    height: 130px;
}
.sec4headLine{
    text-align: center;
    margin-top: var(--spacing-fix-1rem);
    margin-bottom: var(--spacing-fix-1rem);
}
.CTA_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.CTA_wrapper > div {
    position: relative;
    overflow: hidden;
    will-change: opacity;
}
.CTA_wrapper img{
    width: 100%;
    height: auto;
    transition: transform .3s ease;
    object-fit: cover;
}

/*SEC5 thank you section*/
#thank_you_section{
    box-sizing: border-box;
    padding: 1.5rem 0;
}
#thank_you_section_wrapper{
    background: url(../../public/images/main-section/sec05/background.psd)no-repeat 0 0, #F8F6F4;
    background-size: cover;
    background-blend-mode: multiply;
    position: relative;
}
#thank_you_section .lookup svg{
    width: 100%;
}
#thank_you_section_wrapper::before{
    content: "";
    top:0;
    bottom:0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top left, rgba(255,255,255,0.3), transparent);
    mix-blend-mode: overlay;
}
#thank_you_section .sec4h2{
    font-weight: 600 !important;
    will-change: opacity;
}

/*section6 about section*/
#about_section{
    padding-top: 110px;
    margin: calc(2 * var(--spacing-fix-5rem)) auto 0;
    padding-bottom: var(--spacing-fix-3rem);
    color: var(--warm-gray);
}
#about_section blockquote{
    font-size: 2.2rem;
    line-height: 1.6;
    font-style: italic;
    color: var(--warm-gray);
    border-left: 4px solid #C4A88A; /* 왼쪽 구분선 */
    padding-left: 15px;
    /*white-space: pre-wrap;*/
}
#about_section blockquote .right-align{
    text-align: right;
}
#about_section figcaption{
    width: calc(50% - var(--grid-gutter-half));
    margin-left: auto;
    position: relative;
}
#about_section figcaption p{
    position: absolute;
    bottom: 15%;
    font-family: var(--manrope-font);
    font-weight: 500;
    line-height: 1;
    left: calc(1 / 3* 100% + 1 / 3* var(--grid-gutter)); /*1 / 3 * 100%는 부모 너비의 3분의 1*/
}
#about_section .o-dl{
    display: flex;
    flex-direction: column;
}
#about_section .o-dl_row{
    display: grid;
    grid-template-columns: var(--dl-columns);
    grid-column-gap: var(--grid-gutter);
}
#about_section .o-dl_row:not(:first-child){
    margin-top: var(--spacing-fix-3rem);
}
#about_section .o-dl_title{
    text-transform: uppercase;
}
#about_section .o-dl_desc{
    display: flex;
    flex-direction: column;
}
#about_section .o-body-text{
    line-height: 1.2;
}
#about_section .about_col{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: calc(2 * var(--grid-gutter)) var(--grid-gutter);
}

#footer-section{
    width: 100%;
    height: 100vh;
}
#footer-section footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    padding: var(--grid-gutter);
    overflow: hidden;
    box-sizing: border-box;
    z-index:0;
}
#footer-bg {
    position: absolute;
    inset: 0;
}
#footer-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #221E1D;
    opacity: clamp(0.2, calc(1 - 2 * var(--progress)), 1);
}
#footer-bg video{
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    vertical-align: middle;
}
#footer-inner{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    z-index: 1;
}
/*footer-headline은 반응형 디자인으로 각 미디어쿼리 css가서 수정해야함*/
.footer-center{
    margin: auto;
    text-align: center;
}
#footer-newsletter{
    width: 100%;
}
.footer-form{
    position: relative;
}
.footer-form-wrapper{
    max-width: 420px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-right: auto;
    margin-left: auto;
    transition: opacity .5s cubic-bezier(var(--cubic-x1), var(--cubic-y1), var(--cubic-x2), var(--cubic-y2));
}
.input-wrapper{
    text-transform: uppercase;
    width: 100%;
    height: 100%;
}
#newsletter-email{
    height: 100%;
    width: 100%;
    border: 1px solid var(--body-clr);
    border-right: 0;
    padding: .625rem 1rem;
}
#newsletter-email::placeholder{
    color: var(--body-clr);
    opacity: 1;
    transition: opacity .3s ease-in-out;
    font-weight: 600;
    letter-spacing: .5px;
}
#newsletter-email:focus::placeholder{
    opacity: 0;
}
#newsletter-email:focus{
    outline-offset: 2px; /*요소에 2px떨어뜨려서 위치하겠다. offset의 기능*/
    outline: 1px solid var(--extra-extra-point-clr); /*outline은 요소의 테두리 바깥쪽에 그려지는 선, 원래 auto로 썼다가 ios에 대응하기 위해 solid로 변경*/
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#footer-bottom-logo{
    width: 135px;
    display: block;
}
#footer-bottom-logo g path{
    fill: var(--body-clr);
    stroke: none;
    /*box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);*/
    filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.3));
}
.footer-bottom p{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .85px;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.3);
}
.footer-form-text{
    position: absolute;
    top: 0;
    left: 50%;
    transition: opacity .5s cubic-bezier(var(--cubic-x1), var(--cubic-y1), var(--cubic-x2), var(--cubic-y2));
    transform: translateX(-50%)
}
.footer-form.is-submitted .footer-form-wrapper{
    opacity: 0;
    pointer-events: none;
    transition: none;
}
.footer-form-text.-success{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: var(--grid-gutter);
}
.footer-form:not(.is-submitted) .footer-form-text.-success{
    opacity: 0;
    pointer-events: none;
    transition: none;   
}
.footer-form-text.-success p{
    letter-spacing: .65px;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.3);
}